.banner{
  padding-left: -15px;
  padding-right: -15px;
}

.col-lg-2{
  background-color: #00B5E2;
  border-style: solid;
  border-width: 2px;
}
.col-lg-8{
  background-color: #00629B;
}
.dropdown-toggle:hover .dropdown-menu{
    display: block;
}

body{
  background-color: #00629B;
  //white
  //IEEE Color - #00629B
}

.navbar{
 background-color: ;
}

.footer{
 background-color: black;
}
