.html, body{
  height: 100%;
}
.banner{
  padding-left: -15px;
  padding-right: -15px;
}

.col-lg-2{
  background-color: #00B5E2;
  border-style: solid;
  border-width: 2px;
  height: 100%;
}

.col-lg-8{
  background-color: #00629B;
}
.dropdown-toggle:hover .dropdown-menu{
    display: block;
}

body{
  background-color: #00629B;
  //white
  //IEEE Color - #00629B
}

.navbar{
 background-color: ;
}

.footer{
 background-color: #1f1e1e;
}

p{
  color:#00B5E2;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}
