.banner{
  padding-left: -15px;
  padding-right: -15px;
}

.col-lg-3{
  background-color: blue;
}
.col-lg-6{
  background-color: red;
}
.dropdown-toggle:hover .dropdown-menu{
    display: block;
}

body{
  background-color: white;
  //white
  //IEEE Color - #00629B
}
